$primary-color: #000;
$white: #fff;
$black: #000;
$red: #ff4136;
$grey: #8f8f8f;

$dark-grey: #4a4b4e;
$background-color-main: #f6f6f6;

$font-light: 'Montserrat-Light';
$font-regular: 'Montserrat-Regular';
$font-semi-bold: 'Montserrat-SemiBold';
$font-bold: 'Montserrat-Bold';
$font-black: 'Montserrat-Black';
