@import './assets/scss/variables';
@import './assets/scss/fonts';
@import './assets/scss/buttons';
@import './assets/scss/forms';
@import './assets/scss/reset';
@import './assets/scss/media-queries';
@import './assets/scss/box';

.app-container {
  display: flex;
  flex-flow: column;
  width: 100%;
  min-height: 100vh;
  background: $background-color-main;
}

.main-content {
  max-width: 100vw;
  display: flex;
  justify-content: center;
  // fixed header height
  margin-top: 7.5rem;
    width: 100%;
    padding: 0 5%;
    @include tablet {
    }
    @include large {
      padding: 0 25%;
    }
}


